<div *ngIf="auth.user$ | async as user; else login">
  <div class="card" style="margin-top: 1em;">
    <div class="card-body">
      <h3>
        Agregar un Nuevo Link
      </h3>
      <hr>
      <div>
        <p>
            Recuerda colocar el título del libro correctamente y el link debe pertenecer a un libro de formato preferente PDF, para que la visualización sea más rápida.
        </p>
        <form (ngSubmit) = "onSubmit(user)">
        
        <div class="form-group">
          <label for="exampleInputEmail1"><b>Título del Libro</b></label>
          <input type="text" class="form-control" placeholder="Ingresar Título del Libro" [(ngModel)]="titulo" name="titulo">
          
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1"><b>Link</b></label>
          <input type="text" class="form-control" placeholder="Ingresar Link" [(ngModel)]="link" name="link">
          <small id="emailHelp" class="form-text text-muted">Links de PDFs en Internet.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1"><b>Resumen</b></label>
          <textarea class="form-control" aria-label="With textarea" rows="8" placeholder="Ingresar breve Resumen" [(ngModel)]="resumen" name="resumen"></textarea>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1"><b>Año</b></label>
          <input type="number" class="form-control" placeholder="Ingresar Año de su Publicación" [(ngModel)]="anio" name="año">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1"><b>Autor(es)</b></label>
          <input type="text" class="form-control" placeholder="Ingresar Autor(es)" [(ngModel)]="autor" name="autor">
          <small id="emailHelp" class="form-text text-muted">Separa los Autores con comas.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1"><b>Compartido por</b></label>
          <input type="text" class="form-control" disabled placeholder="Ingresar Autor(es)" [(ngModel)]="user.displayName" name="nombre">
          
        </div>
        
        
        <button type="submit" class="btn btn-dark" ><b>Agregar Link</b></button>
      </form>
      </div>
      
    </div>
     
</div>
  
</div>

<ng-template #login>
  <div class="card" style="margin-top: 1em;">
    <div class="card-body">
      <h3>
        Agregar un Nuevo Link
      </h3>
      <hr>
      <div>
        <p>
          Para aportar con un nuevo Link es necesario que Ingreses con una cuenta. Sólo con tu cuenta de Google es suficiente.
          <br>
          <a [routerLink]="['/ingresar']" class="btn btn-light" style="margin-top: 1em;"><b>Ir a Ingresar</b></a>
        </p>
      </div>
    </div>
  </div>

</ng-template>

<!-- Modal de Mensaje de Validación -->
<div class="modal fade" id="modalValidation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Asegurate de:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Colocar todos los <b>datos del link que vas a publicar</b>. Al parecer esta quedando alguno vacío.</p>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal"><b>Aceptar</b></button>
      </div>
    </div>
  </div>
</div>