<div *ngIf="auth.user$ | async as user; else login">
  <div class="card" >
    <div class="card-body">
      <h3>
        Ingresar un Nuevo Link
      </h3>
      <hr>
      <div>
        <p>
            Recuerda colocar el título del libro correctamente y el link debe pertenecer a un libro de formato preferente PDF, para que la visualización sea más rápida.
        </p>
        <form (ngSubmit) = "onSubmit(user)">
        
        <div class="form-group">
          <label for="exampleInputEmail1"><b>Título del Libro</b></label>
          <input type="text" class="form-control" placeholder="Ingresar Título del Libro" [(ngModel)]="titulo" name="titulo">
          
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1"><b>Link</b></label>
          <input type="text" class="form-control" placeholder="Ingresar Link" [(ngModel)]="link" name="link">
          <small id="emailHelp" class="form-text text-muted">Links de PDFs en Internet.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1"><b>Resumen</b></label>
          <textarea class="form-control" aria-label="With textarea" placeholder="Ingresar breve Resumen" [(ngModel)]="resumen" name="resumen"></textarea>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1"><b>Autor(es)</b></label>
          <input type="text" class="form-control" placeholder="Ingresar Autor(es)" [(ngModel)]="autor" name="autor">
          <small id="emailHelp" class="form-text text-muted">Separa los Autores con comas.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1"><b>Compartido por</b></label>
          <input type="text" class="form-control" disabled placeholder="Ingresar Autor(es)" [(ngModel)]="user.displayName" name="nombre">
          
        </div>
        
        
        <button type="submit" class="btn btn-dark" >Agregar Link</button>
      </form>
      </div>
      
    </div>
     
</div>
  
</div>

<ng-template #login>
  <div class="card" >
    <div class="card-body">
      <h3>
        Ingresar un Nuevo Link
      </h3>
      <hr>
      <div>
        <p>
          Para aportar con un nuevo Link es necesario que Ingreses con una cuenta. Sólo con tu cuenta de Google es suficiente.
          <br>
          <a [routerLink]="['/ingresar']" class="btn btn-light" style="margin-top: 1em;"><b>Ir a Ingresar</b></a>
        </p>
      </div>
    </div>
  </div>

</ng-template>
