
<header class="header">
  <div class="container">
    <h2>BeBooLi</h2>
    
    <div *ngIf="auth.user$ | async as user; else login">
      <div style="margin-bottom: .5em;"><a [routerLink]="['/user',user.uid]">{{ user.displayName }}</a></div>
      <a type="button" class="btn btn-warning" [routerLink]="['']"><b>Inicio</b></a>&nbsp;
      <a type="button" class="btn btn-warning" [routerLink]="['agregar']"><b>Agregar +</b></a>&nbsp;
      <button class="btn btn-warning" (click)="auth.signOut()"><b>Salir</b></button>
    </div>

    <ng-template #login>
      <div style="margin-bottom: .5em;">Los Mejores Links de Libros, a tu alcance.</div>
      <a type="button" class="btn btn-warning" [routerLink]="['']"><b>Inicio</b></a>&nbsp;
      <a type="button" class="btn btn-warning" [routerLink]="['agregar']"><b>Agregar +</b></a>&nbsp;
      <a type="button" class="btn btn-warning" [routerLink]="['ingresar']"><b>Ingresar</b></a>&nbsp;
    </ng-template>
    
    
    
  </div>
  
</header>

<div>


<nav class="navbar navbar-expand-lg navbar-light bg-bebooli">
  <div class="container" >
    
  
  <a class="navbar-brand" [routerLink]="['']">BeBooLi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['agregar']">Agregar +</a>
      </li>
      <div *ngIf="auth.user$ | async as user; else login">
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user.displayName }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/user',user.uid]">Mi Perfil</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="auth.signOut()">Salir</a>
          </div>
        </li>
      </div>

      <ng-template #login>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['ingresar']">Ingresar</a>
        </li>
      </ng-template>
      
      
    </ul>
    
  </div>
</div>
</nav>
</div>
<main class="main">
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  
</main>
<div class="prefooter" style="color: #aaa">
  <div class="container text-center">
    <small>Desarrollado por <b>@jhonazsh</b> - Ing. JHON F. MEDINA ZAPATA</small>
  </div>
  
</div>
<br><br><br><br>

