
<div *ngIf="auth.user$ | async as user">
    <div class="row">
        <div class="col"></div>
        
        <div class="col-md-8">
            
            <div class="card" style="margin-top: 1em;">
                <div class="card-body">
                    
                    <h5 class="text-center">Mi perfil:</h5>
                    <hr>
                    
                    <div class="media">
                        <img src="{{ user.photoURL }}" alt="" class="align-self-start mr-3" style="border-radius: 6px; border: 3px solid #ccc" width="64px" height="64px"><br><br>
                       
                        <div class="media-body">
                          <h5 class="mt-0">{{ user.displayName }}</h5>
                          <p><small>{{ user.email}}</small></p>
                          
                        </div>
                      </div>
                    <br>
                    <h6>Mis Links Compartidos <small>({{linksUsers.length}})</small>:</h6> 
                    <hr>
                    
                    <div>
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let link of linksUsers">
                                <!-- <a [routerLink]="['/booklink',link.id]"><span class="badge badge-secondary" *ngIf="link.estado==0">De Baja</span>&nbsp;&nbsp;<b>{{link.titulo}}</b>
                                
                                  
                                
                                
                                </a> -->
                                <div class="media">
                                  <span class="badge badge-pill badge-secondary" *ngIf="link.estado==0" style="margin-right:1em">Baja</span>
                                  <div class="media-body">
                                    <h6 class="mt-0"><a [routerLink]="['/booklink',link.id]">{{link.titulo}}</a></h6>
                                    <small>{{link.autor}}</small>
                                  </div>
                                </div>
                              <!-- <span class="badge badge-secondary badge-pill">14</span> -->
                            </li>
                            
                          </ul>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div class="col"></div>
        
    </div>
</div>
