
<div *ngIf="auth.user$ | async as user">
    <div class="row">
        <div class="col"></div>
        
        <div class="col-md-6">
            
            <div class="card" style="margin-top: 2em;">
                <div class="card-body">
                    
                    <h5 class="text-center">Mi perfil:</h5>
                    <hr>
                    
                    <div class="media">
                        <img src="{{ user.photoURL }}" alt="" class="align-self-start mr-3" style="border-radius: 6px; border: 3px solid #ccc" width="64px" height="64px"><br><br>
                       
                        <div class="media-body">
                          <h5 class="mt-0">{{ user.displayName }}</h5>
                          <p><small>{{ user.email}}</small></p>
                          
                        </div>
                      </div>
                    <br>
                    <h6>Mis Links</h6>
                    <hr>
                    <p>
                        Zona de Links del Usuario
                    </p>  
                    
                </div>
            </div>
        </div>
        
        <div class="col"></div>
        
    </div>
</div>
